.App {
  text-align: center;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: darkorange;
  padding: 10px;
  color: white;
  border-bottom: darkgray 2px solid;
}

.App-title {
  font-family: 'Kaushan Script', cursive;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.crossRotate {
  -webkit-animation-name: a; /* Safari 4.0 - 8.0 */

  animation-name: a;

  -webkit-animation: a .5s linear infinite;
  animation: a .5s linear infinite;
}

.stop {
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}


@keyframes a {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}

.btn-test{
  padding: 5px;
  color: black;
  border-radius:5px;
  background: gainsboro;
  border: 1px solid black;
}
.btn-test:hover{
  padding: 5px;
  color: black;
  background: white;
  border: 1px solid black;
}

.pagination {
  justify-content: center;
}

.whiteBox{
  background: rgb(255, 255, 255, .5);
  border: 1px solid black;
  border-radius: 10px;
  width:60%;
  padding:15px;
  margin:auto;
}

.whiteBoxFullSize{
  background: rgb(255, 255, 255, .5);
  border: 1px solid black;
  border-radius: 10px;
  padding:15px;
  margin:auto;
}


.center {
  margin: auto;
}

.niceInput{
  border-radius:4px;
  border: 2px solid white;;
}
.niceInput:hover{
  border: 2px solid lightblue;
}

.imageIcon{
  height: 54px;
  width: 54px;
  background: linear-gradient(white, darkgray);
  padding:2px;
  border: 1px solid rgb(116, 116, 116);
  border-bottom: 2px solid rgb(53, 53, 53);
  border-radius: 10px;
}
.linkItem
{
  color:white;
  background:none;
  padding:5px;
  margin:5px;
  border: 1px solid white;
  border-radius:5px;
  text-decoration: none;
}

.linkItem:hover
{
  color:black;
  background:white;

}

.linkItem:hover
{
  background:white;
}